<ion-content>
  <img src="assets/images/login.svg" alt="" class="img-fluid p-2">
  
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <ion-grid class="px-4">

      <ion-row>
        <ion-col>
          <h1 class="mt-3 weight-500 color_primary">
            Sign In
          </h1>
        </ion-col>
        </ion-row>

      <ion-row>
        <ion-col class="pb-0">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="text"/>
            <mat-error *ngIf="email.hasError('required')">Email is required...</mat-error>
            <mat-error *ngIf="email.hasError('email')">Pleas provide valid Email...</mat-error>
        </mat-form-field>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="pb-0">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password"/>
            <mat-error *ngIf="password.hasError('required')">Password is required...</mat-error>
        </mat-form-field>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button mat-raised-button color="primary" class="w-100" type="submit"> Sign In </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="color_grey text-center pt-3">
          First time here ? <a routerLink="/signup"> Get an Account... </a>
        </ion-col>
      </ion-row>

    </ion-grid>

   


</form>
</ion-content>
