<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Track My Child
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Track Children</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <!-- edge -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addNewChild()" >
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="children_container px-2 py-3">
    <ng-container *ngIf="addedChildrenList.length > 0">
      <ng-container *ngFor="let child of addedChildrenList">
        <div class="child_container" [routerLink]="'/track-location/'+child.id">
          <div class="profile"> 
            <img src="assets/images/profile.svg" (error)="$event.target.src='assets/images/profile.svg'">
            <h4 class="name"> {{child.firstName}} {{child.lastName}} </h4>
          </div>
        
          <div class="status">
            <h5 class="last_sync"> <div></div> {{child.lastSync ? (child.lastSync | date:'dd-MM-yyyy hh:mm a') : 'N/A'}} </h5>
          </div>
        </div>
      </ng-container>  
    </ng-container>
    <ng-container *ngIf="addedChildrenList.length == 0">
      <div class="no_children_container">
        <div class="img_container">
          <img src="assets/images/hide.svg" alt="">
        </div>
        <h3 class="no_child">No Children is added... Please add.</h3>
      </div>
    </ng-container>
  </div>



</ion-content>
